@font-face {
	font-family: 'chartTitleFont';
	src: url('‪../../../../fonts/kunlunxiyuan.ttf') format('truetype');
}

@font-face {
    font-family: 'sciFont';
    src: url('../../../../fonts/sciFont.ttf') format('truetype');
}
html,
body {
    overflow: hidden;
    width: 1920px;
    height: 540px;
    position: relative;
    top: 40%;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.GlassPlate {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.FullPlate {
    position: absolute;
    top: 0%;
    left: 0%;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.FloatTablePlate {
    position: absolute;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    cursor: default;
}

.titleBar {
    position: absolute;
    margin-left: 40%;
    width: 20%;
    top: 0%;
    cursor: pointer;
}

.homeTitle {
    font-weight: bolder;
    letter-spacing: 1vw;
    color: transparent;
    -webkit-text-stroke: 0.07vw #cce4f9;
    text-align: center;
    font-family: 'sciFont';
    margin-top: 1%;
    font-size: 2vw;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
    text-shadow: 0 0 1vw #0085f7ed, 0 0 1vw #0085f7d6;
    /* text-decoration:none; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; */

}

/* .homeTitle:hover{
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate; 
      
} */

.nav-bar {
    position: absolute;
    text-align: center;
    right: 0%;
    top: 1%;
}

.nav-box {
    border: none;
    background-color: #cfd1d612;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 0.42vw;
    width: 14.7vw;
    height: 1.84vw;
    text-align: center;
    cursor: pointer;
}

.nav-box:hover {
    width: 16.3vw;
    transition: 0.3s;
}

.btn {
    font-family: "幼圆";
    color: #a7aec378;
    font-size: 1vw;
    text-decoration: none;
    width: 13vw;
    text-align: center;
}

.btn span {
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -0.53vw;
    transition: 0.2s;
}

.menuButton {
    margin: 5px;
}

.btn_delay:hover span {
    padding-right: 1.3vw;
    font-size: 1vw;
    color: #fdfdffb5;
    text-shadow: 0 0 0.4vw #fff;
}

.btn_delay:hover span:after {
    opacity: 1;
    right: 0;
}

[v-cloak] {
    display: none;
}

.WXY_floating_window {
    position: relative;
    font-size: 10px;
    background-color: #252b2f;
    color: #f2f2f2;
    padding: -1px 0px;
    font-family: 'Oswald', sans-serif;
    transition: background-color 200ms ease-out;
    opacity: 0.7;
}

.WXY_floating_window_obliteration {
    position: relative;
    font-size: 8px;
    background-color: rgba(50, 50, 50, 0.82);
    color: #eee;
    padding: 4px 8px;
    font-family: 'Oswald', sans-serif;
    transition: background-color 200ms ease-out;
    opacity: 0.7;
}

.WXY_floating_window_obliteration:hover {
    box-shadow: 0 0 15px 1px wheat;
}

.WXY_floating_window:hover {
    box-shadow: 0 0 15px 1px blue;
}

.WXY_line {
    height: 12px;
    width: 8px;
    border-left: 2px solid black;
    transform: skew(-40deg);
    position: relative;
    left: 8px;
}

.WXY_img_font {
    display: flex;
    align-items: center;
}

.WXY_label_title {
    font-size: larger;
}

.WXY_label {
    position: absolute;
}